[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/tinyexpr"]
	path = 3rdparty/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
